
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@200;400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    /* background-image: url("https://pikwizard.com/photos/beach-landscape--896f58bfa29ba036c94891845993e0cf-m.jpg"); */
    background-image: url("https://th-thumbnailer.cdn-si-edu.com/q6_SCG7x_2miVVYUKBMXR7im_ME=/1000x750/filters:no_upscale()/https://tf-cmsv2-smithsonianmag-media.s3.amazonaws.com/filer/2e/40/2e40ed82-5cda-4068-8457-257d3f100b9d/42-25763390.jpg");
    font-family: 'playfair display', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    color: white;
    

}

#para1, #cityInput, #cityName, #inputContainer, button{
   
    padding: 20px;
  
    margin: 10px, 0;
    
}

.container{
    padding: 20px 70px;
}

.current-info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.date-container{
    font-weight: 200;
}

.date-container .time{
    font-size: 50px;   
}

.date-container #am-pm{
    font-size: 25px;
    margin-left: 25px;
}

.date-container .date{
    font-size: 30px;
    ;
}

.place-container{
    text-align: end;

}

/* .place-container .time-zone{
    font-size: 15px;
    font-weight: 200;
}

.place-container .country{
    font-size: 15px;
    font-weight: 200;
} */

/* .current-info .others{
    display: flex;
    flex-direction: column;
    background: rgb(241, 241, 240, 0.6);
    padding: 25px;
    border-radius: 10px;
    margin: 10px, 0;
    border: 2px solid #eee; */






    
}

.current-info .others .weather-item{
    display: flex;
    justify-content: space-between;
}
/* styling for today's weather */
.future-forecast{
    background: rgb(241, 241, 240, 0.3); 
    /* padding: 25px; */
    /* position: fixed; */
    bottom: 0;
    /* display: flex; */
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:0 10px;
    /* border: 2px solid #eee; */
    border-radius: 10px;
    padding: 15px;



}

.future-forecast .today{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid #eee;  */
   
    
}

.future-forecast .today .day{
    padding: 15px 15px;
    background: rgb(241, 241, 240, 0.6); 
    border-radius: 50px;
    text-align: center;
    color: black
}

.future-forecast .today .temp{
    font-size: 25px;
    padding-top: 15px; 

}
.future-forecast .weather-forecast{
    display: flex;
}

/* sytling for the 5 day forecast */
.weather-forecast .weather-forecast-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    border: 2px solid #eee;
    border-radius: 10px;
    padding: 15px;
}

.weather-forecast .weather-forecast-item .day{
    padding: 15px 15px;
    background: rgb(241, 241, 240, 0.6); 
    border-radius: 50px; 
    text-align: center;
}

weather-forecast .weather-forecast-item .temp{
    padding: 15px 15px;
    background: rgb(241, 241, 240, 0.6); 
    border-radius: 50px; 
    text-align: center;
    
}

@media only screen and (max-width:730px){
    .future-forecast{
        justify-content: start;
        align-items: none;
        overflow-y: scroll;
    }
}